@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container-blog{
    width: 80%;
    margin: auto;
    min-height: 55vh;
}
footer{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: #FFF;
    font-family: 'Alatsi', sans-serif;
    color: #000;
}
.line{
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    border-top: 2px solid #000 ;

}
.footer-text{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    font-size: 1.2em;
    text-align: center;
}
.navbar{
    display: flex;
    height: 140px;
    width: 100%;
    background-color: #161616;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    font-family: 'Alatsi', sans-serif;
    color: #fff;
    font-size: 1.3em;
    text-decoration: none;
}
.menu{
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}

.menu:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #fffc00;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.menu:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logo{
    display: flex;
    height: 100%;
    align-items: center;
    width: 33%;
    justify-content: space-between;
}
.logo-link{
    display: inline-block;
    height: 75px;
    width: 103px;
}
.logo-link img{
    position: absolute;
    height: 75px;
}

.social, .icons{
    font-size: 1.4em;
}

.social a{
    margin-left: 20px;
}
.social a ion-icon {
    transition: .5s;
}


.social a ion-icon:hover {
    color: #7a29d0;
}

.icons a{
    margin-right: 20px;
}

.logo-hide{
    opacity: 0;
    transition: .6s;
    transform: .2s;
}
.logo-link:hover .logo-hide{
    opacity: 1;
}
.stripes{
    height: 10px;
    width: 100%;
    background: url(./images/stripes.png);
}
footer img{
    position: relative;
    bottom: -28px;
}
.c-3{
    display: flex;
    height: 100%;
    width: 100%
}
.post-div{
    display: flex;
    height: 500px;
    margin: 50px;
}
.post-resume{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 40% ;
}
.post-image{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 60%;
}
.post-title{
    font-family: 'Russo One', sans-serif;
    font-size: 2.4em;
    text-decoration: none;
    line-height: 0.9em;
    color: #7a29d0;
}
.post-date{
    font-family: 'Russo One', sans-serif;
    line-height: 0.7em;
    color: #7d8491;
}
.post-excerpt p{
    font-family: 'ABeeZee', sans-serif;
}
.post-author{
    display: flex;
}
.post-author a, .post-author p{
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    color: #000;
}
.post-author a{
    color: #7a29d0;
}
.post-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    padding: 50px 0;
}
.post-page .post-title{
    color: #000;
    font-size: 3em;
    font-weight: 500;
    padding: 20px 0;
}

.post-page .post-excerpt{
    color: #000;
    font-size: 2em;
    padding: 20px 0;
}

.post-page .post-author{
    padding-bottom: 15px;
    padding: 20px 0;
}

.post-page .post-author a,.post-page .post-author p{
    font-size: 1.5em;
}

.post-page img{
    margin: 20px auto;
}
.back-link{
    font-size: 1.2em;
    font-family: 'Russo One', sans-serif;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7a29d0;
    transition: .4s;
}
.back-link:hover{
    color: #361b53;
}
.filter-container{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
select, input, .btn-search{
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
    border: solid 1px #000;
}
input{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-search{
    position: relative;
    left: -5px;
    top: 2px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: solid 1px #000;

}
select, input{
    min-width: 150px;
}
.paginate{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7a29d0;
    height: 100px;
}

.paginate ul a{
    text-decoration: none;
}
.paginate ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: 1.5em;
}

.paginate ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    color: #7a29d0;
}

.paginate ul li a{
    color: #7a29d0;
    display: flex;
    align-items: center;
}

.paginate ul li a:active{
    color: #7a29d0;
}

.paginate ul .active{
    background-color: #7a29d0;
    border-radius: 50%;
    color: #fffc00;
}
.form-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.form-box{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    color: #363636;
}

.form-group{
    padding: 0 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.form-group input{
    width: 100%;
    border-radius: 5px;
}
.form-group label{
    width: 100%;
    text-align: left;
    padding-bottom: 5px;
}
.form-group input:focus{
    outline: #7a29d0 1px solid;
}

.button-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 15% 2.5rem;
    width: 100%;

}

.button-group button{
    height: 32px;
    width: 100%;
    border-radius: 5px;
    font-size: 1em;
}

.btn-register{
    border: none;
    background-color: #7a29d0;
    color: #fff;
}

.btn-register:hover{
    background-color: #9c4bf3;
}

.form-title{
    padding: 2rem 0;
}

.registered-link {
    padding-top: 10px;
    width: 100%;
    text-decoration: none;
    color: #7a29d0;
    text-align: end;
    font-size: .9em;
}

.register-back{
    position: relative;
    top: -80px;
    width: 100%;
}

.error-msg{
    padding-top: 10px;
    width: 100%;
    text-align: end;
    color: #f00;
    font-size: 0.9em;
}

.notification-container{
    display: flex;
    position: fixed;
    top: 1rem;
    width: 100%;
    justify-content: end;
    padding: 1rem;
}

.notification-box{
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(153, 217, 153);
    padding: 2rem 1rem;
    color: rgb(0, 89, 0);
    gap: 1rem;
}

.notification-box ion-icon{
    font-size: 2rem;
}

#acc-btn{
    cursor: pointer;
    transition: .5s;
}

#acc-btn:hover{
    color: #7a29d0;
}

.account-opt{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 50px;
    top: 45px;
    gap: 1rem;
}

.account-opt a{
    font-size: .8em;
    transition: .5s;
}

.account-opt a:hover{
    color: #7a29d0;
}

.auth-box{
    display: flex;
    gap: 1rem;
    color: #FFF;
}

.coment-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.coment-box{
    display: flex;
    gap: 1rem;
}

.coment-box img,.comment-form img{
    border-radius: 50%;
}

.coment-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.coment-header{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.coment-header .post-date{
    font-size: .8em;
}

.comment-form{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.comment-form .comment-box textarea {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: auto;
    width: 100%;
    border: none;
    padding:8px 15px;
    font-size: 1em;
    background-color: #eeeeee;
    resize: none;
}

.comment-box{
    display: flex;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 20px;
}


.comment-form textarea:focus{
    outline: none;
}

.comment-form button{
    height: auto;
    font-size: 1em;
    background-color: #7a29d0;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-radius: 20px;
}

.login-link {
    padding-top: 10px;
    width: 100%;
    text-decoration: none;
    color: #7a29d0;
    text-align: end;
    transition: .6s;
}
.login-link:hover {
    padding-top: 10px;
    width: 100%;
    text-decoration: none;
    color: #57179c;
    text-align: end;
}